<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.codefundo.donet.beneficiary">

    <application>
        <activity android:name=".DonateActivity"></activity>
        <activity android:name=".BeneficiaryActivity" />
    </application>

</manifest>